<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twlkyao.androidcloud"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <!-- The permission to access the Internet. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- The permission to write to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- The permission to mount and unmount file systems for removable storage. -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- The permission to receive the ACTION_BOOT_COMPLETED boradcast after the sysytem finishes booting. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.twlkyao.androidcloud.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.twlkyao.androidcloud.RegisterActivity" >
        </activity>
        <activity android:name="com.twlkyao.androidcloud.WelcomeActivity" >
        </activity>
        <activity android:name="com.twlkyao.androidcloud.MainActivity" >
        </activity>
        <activity android:name="com.twlkyao.androidcloud.ApkValidate" >
        </activity>

        <receiver android:name="com.twlkyao.androidcloud.StartUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.twlkyao.androidcloud.ObserverService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.twlkyao.androidcloud.ObserverService" />
            </intent-filter>
        </service>
        <!--
        <service android:name="android.inputmethodservice.InputMethodService" >
        </service>
        <service android:name="android.net.VpnService" >
        </service>
        -->
    </application>

</manifest>